<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section id="wrapper" class="login-register login-sidebar">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="two">
                    <h1>Bienvenido
                        <span>Selecciona tus pokémons</span>
                    </h1>
                </div>
                
            </div>
            <div class="col-md-6" style="text-align: end;">
                <a routerLink="/" class=" btn btn-info btn-lg text-uppercase btn-rounded" type="submit">CANCELAR
                    REGISTRO</a>
            </div>
            <div class="col-md-12">
                <div class="cont-bg" >
                    

                    <div class="cont-main">
                        <div class="cont-checkbox" *ngFor="let poke of pokemones; index as i">
                            <input type="checkbox" [id]="'myCheckbox-' + i"  [(ngModel)]="poke.isChecked" (change)="changeSelection()" value="{{poke.name}}" [ngModelOptions]="{standalone: true}">
                            <label [for]="'myCheckbox-' + i">
                                <img [src]="poke.img" />
                                <span class="cover-checkbox">
                                    <svg viewBox="0 0 12 10">
                                        <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg>
                                </span>
                                <div class="info">{{ poke.name }} -  {{ poke.type}}</div>
                            </label>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <button class="btn-flotante" (click)="guardarDatos()">GUARDAR POKÉMONS</button>
</section> 
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->

